/* Style Sheet for Archery website */
Body
{
background-color:Grey; font-family:"Times New Roman",arial;
color:black;
font-size: 14px;
border:5px solid black;
border-style: double;
text-align: justify;
}

header
{
font-family:"Times New Roman", arial;
color:black;
font-size:42px;
font-weight: bold;
}

h1
 {
 font-family:"Times New Roman", arial;
 color:white;
 font-size:32px;
 font-weight: bold; 
 background-color: black;
 }
 
 h2 
 {
 font-family:"Times New Roman", arial;
 color:white;
 font-size:22px;
 background-color:black;
 }
 
 p 
 {
    font-family: "Times New Roman", Times, serif;
}
 ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

